*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

app/src/androidTest/java/com/chenxkang/android/demo/ExampleInstrumentedTest.java

app/src/test/java/com/chenxkang/android/demo/ExampleUnitTest.java

core/src/androidTest/java/com/chenxkang/android/fastbluetooth/ExampleInstrumentedTest.java

core/src/test/java/com/chenxkang/android/fastbluetooth/ExampleUnitTest.java
